*.keras filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text

# Exclude big non-source sections from language stats
Training Notebooks/** linguist-vendored
Graphs/** linguist-vendored
Outputs/** linguist-vendored
Presentations/** linguist-vendored

# Exclude binary model files
Models/** linguist-vendored
*.pt linguist-vendored
*.pth linguist-vendored
*.keras linguist-vendored
